.conteiner {
    display: flex;
}

.block1 {
    flex-direction: column;
}

.text1 {
    position: absolute;
    width: 414px;
    height: 120px;
    left: 190px;
    top: 223px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.text2 {
    position: absolute;
    width: 283px;
    height: 20px;
    left: 190px;
    top: 383px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    text-transform: uppercase;
}

.text3 {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 14px 26px;
    gap: 4px;
    background: #68B738;
    font-family: 'Oswald';
    color: white;
    border: none;

    position: absolute;
    width: 244px;
    height: 54px;
    left: 190px;
    top: 455px;
}


.block2 {}

.text3:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.text3:hover:after {
    transition: 0.3s;
}