.conteiner__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block1 {
    flex-direction: column;
}

.block1__text1 {
    position: absolute;
    width: 414px;
    height: 120px;
    left: 300px;
    top: 223px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.block1__text2 {
    position: absolute;
    width: 283px;
    height: 100px;
    left: 300px;
    top: 383px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.block1__text3 {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 14px 26px;
    gap: 4px;
    background: #68B738;
    font-family: 'Oswald';
    color: white;
    border: none;

    position: absolute;
    width: 244px;
    height: 54px;
    left: 300px;
    top: 455px;
    opacity: 0.5;
    transition: 0.3s;
}

.block2 {
    position: absolute;
    width: 478px;
    height: 40px;
    left: 750px;
    top: 130px;
}

.block1__text3:hover {
    opacity: 1;
    transition: 0.3s;
}